{% extends 'layout/base.html' %}

{% block body %}
<!-- create a side bar -->
<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-md-2 mt-4">
            {% include "partials/dashboard_menu.html" %}
        </div>
        <div class="col-md-10 mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Welcome Admin</h5>
                                <p class="card-text">Add questions here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block css %}
<style>
    .form-row {
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: rgb(255, 147, 69);
    }

    main {
        background-image: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
        background-position: bottom;
        background-size: cover;
    }
</style>
{% endblock %}