{% extends 'layout/base.html' %}

{% block body %}

<div class="bod">
<h1 class ="dan"><center></center></h1></div>
<div class = "mage">
<div class="container-fluid">
  <h1>AR Quiz using OpenCV and Gesture Recognition</h1>
  <p class = "rede">Welcome to the world of Quizzes. Augmented Reality Quiz is a hand-gesture-based quiz. Augmented reality (AR) is the real-time use of information in the form of text, graphics, audio and other virtual enhancements integrated with real-world objects. In this website, you can Create Quizzes and add questions as well as Login and attend these quizzes. Register and Login at any time, anywhere and take objective quizzes just by using hand gestures, without touching the screen </p>
</div>
</div>
</div>

<p>



{% endblock %}

{% block css %}

<style>
 body{
    display:grid;
    
   
    
    background-color: rgb(237, 239, 241);
    background-image:url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(19, 18, 23);
    
    

 }
 
 
 .mage{
  margin:150px;
  width: 55%;
  border: 3px solid rgb(237, 238, 238);
  padding: 40px;
  background-color: #cfd0d3;
  
  
  
  font-family:Georgia, 'Times New Roman', Times, serif;
  
 }

</style>

{% endblock %}