{% extends 'layout/base.html' %}

{% block body %}



<!-- shortcut to generate a vaible location => .container>.row>.col-md-4 -->
<div class="container">
    <div class="row form-row">
        <div class="col-lg-4 ">
            <center><h1 class="my-4 text-primary">Register</h1></center>
            {% if error_list %}
            {% for msg in error_list %}
            <p class="text-danger text-small">
                {{ msg|e }}
            </p>
            {% endfor %}
            {% endif %}
            

            <form class="shadow-lg p-3 rounded bg-light" method="POST">
                <div>
                <div class="mb-3">
                    <h5><label for="email" class="form-label">Email address</label></h5>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <h5><label for="username" class="form-label">Username</label></h5>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                

                <div class="mb-3">
                    <h5><label for="password" class="form-label">Password</label></h5>
                    <input type="password" class="form-control" id="password" name="password"
                        aria-describedby="passHelp">
                    <div class="form-text" id="passHelp">Password should be min 6 chars</div>
                </div>

                <div class="mb-3">
                    <h5><label for="confirmpass" class="form-label">Confirm Password</label></h5>
                    <input type="password" class="form-control" id="confirmpass" name="confirmpass">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 35%;">Submit</button>
                
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style>
    input[type=text] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}
input[type=email] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email]:focus {
  border: 3px solid #555;
}
input[type=password] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password]:focus {
  border: 3px solid #555;
}
    .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        background-image: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
        background-position: bottom;
        background-size: cover;
    }
    .col-lg-4{
        background-color: rgba(225, 225, 231, 0.952);
        padding:5px;
        margin-top: 5px ;
        padding-top: 1px;
        
    }
    
    
    
</style>
{% endblock %}